## MPS project

**/*.class
languages/ArduinoML/generator/
languages/ArduinoML/classes_gen/
languages/ArduinoML/source_gen/
languages/ArduinoML/source_gen/
languages/ArduinoML/source_gen.caches/
**/*.info
